
.order-first{
    margin-left: 1rem;
}

.mat-datepicker-content .time-container {
    display: flex;
    position: relative;
    padding-top: 0px !important;
    justify-content: center;
}

  .mat-datepicker-content .mat-calendar {
    width: 250px !important;
}